@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Lugrasimo&family=Ramaraja&family=Roboto+Slab:wght@100..900&family=WindSong:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(80, 80, 80);
}

header.header {
    border-top: 10px solid rgb(13, 13, 13);
    border-bottom: 10px solid rgb(13, 13, 13);
    /*border-left: 5px solid rgb(13, 13, 13);
    border-right: 5px solid rgb(13, 13, 13);*/

    background-color: rgb(22, 22, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;



    & h1 {
        margin-left: 5px;
        padding: 10px;
        font-family: ballet;
        color: rgb(223, 221, 255);
        word-spacing: 10px;
        text-decoration: underline;
        cursor: context-menu;
    }

    & nav {
        margin-right: 10px;
        background-color: transparent;
        position: relative;
        justify-content: space-between;
        align-items: center;
        display: flex;

        & .divisoria {
            background-color: rgb(223, 221, 255);
            width: 2px;
            height: 99px;
        }

        & ul.menu {
            list-style: none;
            justify-content: center;
            background-color: transparent;
            flex-wrap: wrap;
            display: block;
            padding: 1px;
            margin-left: 4px;

            & li {
                padding: 5px;

                & a,
                i {
                    margin: 5px;
                    text-decoration: none;
                    color: rgb(223, 221, 255);
                    font-size: 20px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

section.bio {
    display: flex;
    background-color: rgba(12, 12, 20, 0.900);
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 60vh;
    gap: 50px;

    & img {
        width: 280px;
        border-radius: 10px;
    }

    & div.jeff-short-bio {
        display: flex;
        min-height: 40vh;
        color: white;
        display: block;
        background-color: transparent;
        width: 600px;
        gap: 20px;

        & h2 {
            text-decoration: underline;
            font-size: 35px;
            color: rgb(223, 221, 255);
            margin-bottom: 30px;
        }

        & p {
            color: rgb(211, 211, 233);
            font-size: 20px;
            margin-bottom: 30px;
        }

        & button {
            background-color: rgb(211, 211, 233);
            padding: 12px 35px;
            border: 2px solid rgb(104, 115, 174);
            border-radius: 15px;
            color: rgb(13, 13, 13);
            font-size: 18px;
            transition: 0.3s ease;

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
                background-color: rgb(104, 115, 174);
                color: rgb(255, 255, 255);
                border: 2px solid rgb(211, 211, 233);
                font-weight: bolder;
            }
        }

    }
}