@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Lugrasimo&family=Ramaraja&family=Roboto+Slab:wght@100..900&family=WindSong:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header.header {
    border-top: 10px solid rgb(13, 13, 13);
    border-bottom: 10px solid rgb(13, 13, 13);
    background-color: rgb(15, 15, 31);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & h1 {
        margin-left: 5px;
        padding: 10px;
        font-family: ballet;
        color: rgb(223, 221, 255);
        word-spacing: 10px;
        text-decoration: underline;
        cursor: context-menu;
    }

    & nav {
        margin-right: 10px;
        background-color: transparent;
        position: relative;
        justify-content: space-between;
        align-items: center;
        display: flex;

        & .divisoria {
            background-color: rgb(223, 221, 255);
            width: 2px;
            height: 99px;
        }

        & ul.menu {
            list-style: none;
            justify-content: center;
            background-color: transparent;
            flex-wrap: wrap;
            display: block;
            padding: 1px;
            margin-left: 4px;

            & li {
                padding: 5px;

                & a,
                i {
                    margin: 5px;
                    text-decoration: none;
                    color: rgb(223, 221, 255);
                    font-size: 20px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

div.container {
    background: linear-gradient(to bottom, rgb(16, 16, 31), rgb(0, 0, 0));
    width: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    & section.vitrine {
        margin: 25px;
        border-radius: 5px;
        border-bottom: 0px solid rgb(84, 80, 141);
        border-top: 4px solid rgb(84, 80, 141);
        border-right: 4px solid rgb(84, 80, 141);
        border-left: 4px solid rgb(84, 80, 141);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(84, 80, 141);
        flex: 1 0 20%;
        transition: .2s ease;

        & a img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }

        &:hover {
            transform: scale(1.07);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.999);
            background-color: rgb(84, 80, 141);
        }

        & a {
            padding: 10px;
            text-decoration: none;

            & h2 {
                text-align: center;
                color: white;
                font-family: Helvetica, sans-serif;
            }

            & div.pp {
                border-radius: 5px;
                border: 2px solid;

                p {
                    padding: 10px;

                    font-size: 20px;
                    margin: 15px;
                    text-align: justify;
                    color: rgb(223, 221, 255);
                }
            }
        }
    }
}