@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=WindSong:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(80, 80, 80);
}

header.header {
    border-top: 10px solid rgb(13, 13, 13);
    border-bottom: 10px solid rgb(13, 13, 13);
    background-color: rgb(15, 15, 27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & h1 {
        margin-left: 5px;
        padding: 10px;
        font-family: ballet;
        color: rgb(223, 221, 255);
        word-spacing: 10px;
        text-decoration: underline;
        cursor: context-menu;
    }

    & nav {
        min-width: 190px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: transparent;
        position: relative;
        justify-content: space-between;
        align-items: center;
        display: flex;

        & .divisoria {
            background-color: rgb(223, 221, 255);
            width: 2px;
            height: 99px;
        }

        & ul.menu {
            list-style: none;
            justify-content: center;
            background-color: transparent;
            flex-wrap: wrap;
            display: block;
            padding: 1px;
            margin-left: 4px;

            & li {
                padding: 5px;

                & a,
                i {
                    margin: 5px;
                    text-decoration: none;
                    color: rgb(223, 221, 255);
                    font-size: 20px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

section.bio {
    display: flex;
    background-color: rgba(6, 6, 13, 0.9);
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 63vh;
    border-bottom: 8px solid rgb(13, 13, 13);

    & span.fundo {
        display: flex;
        background-color: rgba(0, 0, 0, 0.62);
        border-radius: 15px;
        width: 90%;
        min-height: 50vh;
        gap: 50px;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    & img {
        width: 280px;
        border-radius: 10px;
    }

    & div.jeff-short-bio {
        display: flex;
        min-height: 40vh;
        color: white;
        display: block;
        background-color: transparent;
        width: 600px;
        gap: 20px;

        & h2 {
            word-spacing: 4px;
            font-family: windsong;
            font-size: 35px;
            color: rgb(211, 211, 233);
            margin-bottom: 30px;
        }

        & p {
            color: rgb(211, 211, 233);
            font-size: 20px;
            margin-bottom: 30px;
        }

        & button {
            font-family: roboto slab;
            background-color: rgb(211, 211, 233);
            padding: 12px 35px;
            border: 2px solid rgb(104, 115, 174);
            border-radius: 15px;
            color: rgb(13, 13, 13);
            font-size: 18px;
            transition: 0.1s ease;
            font-weight: bolder;

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
                background-color: rgb(104, 115, 174);
                color: rgb(255, 255, 255);
                border: 2px solid rgb(211, 211, 233);
                font-weight: bolder;
            }
        }

    }
}

section.disco {
    display: flex;
    min-height: 70vh;
    background-color: rgb(3, 3, 10);
    justify-items: center;
    align-items: center;
    padding: 30px;
    min-width: 100%;

    & span.fundo1 {
        display: inline-flexbox;
        border-radius: 25px;
        padding: 20px;
        background-color: rgba(85, 88, 235, 0.051);
        min-height: 65vh;
        min-width: 90%;
        justify-items: center;
    }

    & h2 {
        word-spacing: 4px;
        font-family: windsong;
        font-size: 35px;
        color: rgb(211, 211, 233);
        text-align: center;
        padding-bottom: 15px;
    }

    & div.roll {
        display: flex;
        width: 99%;
        align-items: center;

        & button.btn {
            color: rgb(0, 0, 0);
            font-weight: bolder;
            border: 3px solid rgb(186, 186, 186);
            border-radius: 15px;
            background-color: rgb(186, 186, 186);
            padding: 55px 15px;
            margin: 30px;
            transition: 0.1s ease;

            &:hover {
                cursor: pointer;
                background-color: rgba(85, 88, 235, 0.018);
                transform: scale(1.05);
                color: white;
            }
        }

        & div.carrossel {
            border-radius: 15px;
            background-color: transparent;
            display: flex;
            overflow-x: auto;
            scroll-behavior: smooth;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }


            & a {
                text-decoration: none;


                & div.card {
                    transition: 0.15s ease;
                    display: inline-flexbox;
                    justify-content: space-between;
                    min-width: 200px;
                    height: 295px;
                    background: rgb(2, 2, 5);
                    border-radius: 15px;
                    margin: 20px;
                    margin-right: 5px;
                    padding: 5px;
                    border: 2px solid transparent;

                    & div.cover {
                        border-radius: 15px;
                        width: 100%;
                        height: 200px;
                        background-size: cover;
                        background-position: center;
                        border: 3px solid black;
                    }

                    & h3 {
                        margin-top: 5px;
                        text-align: center;
                        font-family: rubik;
                        font-size: 15px;
                        font-weight: 520;
                        color: rgb(223, 221, 255);
                    }

                    &:hover {
                        transform: scale(1.130);
                        background-color: rgb(211, 211, 233);
                        border: 3px solid rgb(2, 2, 5);

                        & h3 {
                            color: rgb(2, 2, 5);
                        }
                    }
                }


            }
        }
    }
}


footer.footer {
    background-color: rgb(2, 2, 5);
    width: 100%;
    min-height: 35vh;
    border-top: 8px solid;
    border-bottom: 8px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    & div {

        &.info {
            background-color: transparent;
            width: 200px;
            max-height: 100px;

            & h2 {
                font-size: 30px;
                color: cadetblue;
            }

            & a {
                font-size: 18px;
                text-decoration: none;
                display: block;
                color: rgb(247, 255, 252);

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &.feedback {
            display: flex-blox;
            width: 415px;
            background-color: transparent;
            height: 125px;
            justify-content: center;
            align-items: end;

            & h2 {
                display: block;
                color: cadetblue;
                font-size: 38px;
            }

            & input {
                border: 3px solid rgb(207, 205, 233);
                border-radius: 8px;
                display: block;
                background-color: rgb(226, 226, 232);
                margin-bottom: 10px;
                margin-top: 5px;
                outline-style: none;
                padding: 5px 5px;
                min-width: 315px;
            }

            & button {
                font-family: rubik;
                font-weight: 600;
                padding: 6px 15px;
                border-radius: 10px;
                border: 3px solid rgb(207, 205, 233);
                background-color: rgb(22, 32, 91);
                color: rgb(207, 205, 233);
                font-size: 15px;

                &:hover {
                    background-color: rgb(207, 205, 233);
                    color: rgb(22, 32, 91);
                }
            }
        }
    }
}